@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Cài đặt thông số hệ thống";
    List<Product> products = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Product>>(TempData["products"] as string);
    string role = Accessor.HttpContext.Session.GetString("role");
    if (role == "admin")
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_Layout1";
    }
}

<form class="parameter-form form-group bg-info" method="post" enctype="multipart/form-data" asp-controller="SettingParameter" asp-action="UpdateSetting">
    <h4 style="color:red;">CÀI ĐẶT THÔNG SỐ</h4>
    <div class="form-block">
        <div class="form-control">
            Dây chuyền
            <select name="line" required>
                <option value="" selected>Chọn dây chuyền</option>
                <option value="line1">Dây chuyền 1</option>
                <option value="line2">Dây chuyền 2</option>
                <option value="line3">Dây chuyền 3</option>
                <option value="line4">Dây chuyền 4</option>
                <option value="line5">Dây chuyền 5</option>
                <option value="line6">Dây chuyền 6</option>
                <option value="line7">Dây chuyền 7</option>
                <option value="line8">Dây chuyền 8</option>
            </select>
        </div>
        <div class="form-control">
            Tên máy
            <select name="merchine" required>
                <option value="" selected>Chọn máy</option>
                <option value="merchine1">Máy 1</option>
                <option value="merchine2">Máy 2</option>
                <option value="merchine3">Máy 3</option>
                <option value="merchine4">Máy 4</option>

            </select>
        </div>
        <div class="form-control">
            Ca
            <select name="shift" required>
                <option value="" selected>Chọn ca</option>
                <option value="shift1">Ca 1</option>
                <option value="shift3">Ca 2</option>
                <option value="shift3">Ca 3</option>
            </select>
        </div>
        <div class="form-control">
            Mã sản phẩm
            <select id="productCode" name="productCode" required>
                <option value="" selected>Chọn sản phẩm</option>
                @foreach (Product pd in products)
                {
                    <option value="@pd.Code">@pd.Code</option>
                }
            </select>
        </div>
       @* <div class="form-control">
            Tên sản phẩm
            <input type="text" name="productName" value="" disabled />
        </div>*@
    </div>
    <div class="form-block">
        <div class="form-control">
            Tốc độ chuẩn (gói/phút)
            <input type="number" name="speed" value="" required min="1" max="2000"/>
        </div>
        <div class="form-control">
            Thời gian tính dừng máy (x0.1s)
            <input type="number" name="time1" value="" required min="1" max="2000" />
        </div>
        <div class="form-control">
            Thời gian chấp nhận gói (x0.1s)
            <input type="number" name="time2" value="" required min="1" max="2000"/>
        </div>
        <div class="form-control">
            Thời gian tính gói cần (x0.1s)
            <input type="number" name="time3" value="" required />
        </div>
        <div class="form-control">
            Thời gian đẩy gói cần (x0.1s)
            <input type="number" name="time4" value=""required />
        </div>
        <div class="form-control">
            Thời gian cập nhật từ PLC (s)
            <input type="number" name="time5" value="" required/>
        </div>
    </div>
    <div style="display:flex">
        <button class="btn btn-primary" type="submit" style="font-size:20px"> Thiết lập</button>
        <a class="btn btn-light" asp-area="" asp-controller="GeneralSetting" asp-action="Index">Thoát</a>
    </div>
</form>



